layout {
    pane split_direction="vertical" {
        pane command="python3" {
	     args "app.py" "--host" "localhost" "--port" "12345" "--mode" "server" "--drop-test-probability" "0.05" "--drop-test"
	}
        pane command="python3" {
	     args "app.py" "--host" "localhost" "--port" "12345" "--mode" "client"
	}
    }
}
